<!--<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>Stock Exchange</span>
  </div>
</md-toolbar>

<md-table-container>
  <table md-table md-row-select>
    <thead>
      <tr md-row>
        <th md-column md-order-by="nameToLower"><span>Compagnies</span></th>
        <th md-column md-numeric ><span>Prices</span></th>
        <th md-column md-numeric>Changes</th>
        <th md-column md-numeric>Shares</th>
        <th md-column md-numeric>Values</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-auto-select ng-repeat="compagny in compagnies">
        <td md-cell>{{compagny.name}}</td>
        <td md-cell>{{compagny.price}}</td>
        <td md-cell>{{compagny.change}}</td>
        <td md-cell>{{compagny.shares}}</td>
        <td md-cell>{{compagny.value}}</td>
      </tr>
    </tbody>
  </table>
</md-table-container>
-->


 <md-content layout="column" flex >

      <md-card>
        <md-toolbar class="md-table-toolbar md-default">
          <div class="md-toolbar-tools">
            <span>Compagnies</span>
          </div>
        </md-toolbar>
        
        
        
        
        
        
        
      <dtable options="options" rows="data" class="material dt">
        <column name="name" width="100"></column>
        <column name="price" ></column>
        <column name="change"  ></column>
        <column name="shares" ></column>
        <column name="value" ></column>
      
      </dtable>    
        
<!--
        
        
        
        <md-table-container >
          <table md-table class="table table-hover table-mc-light-blue" >
            <thead>
              <tr md-row>
                <th md-column><span>Name</span></th>
                <th md-column md-numeric ><span>Price</span></th>
                <th md-column md-numeric ><span>Change</span></th>
                <th md-column md-numeric ><span>Shares</span></th>
                <th md-column md-numeric ><span>Values</span></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row ng-repeat="compagny in compagnies">
                <td md-cell>{{compagny.name}}</td>
                <td md-cell>{{compagny.price}}</td>
                <td md-cell>{{compagny.change}}</td>
                <td md-cell>{{compagny.shares}}</td>
                <td md-cell>{{compagny.value}}</td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
-->
      </md-card>
    </md-content>
    
    